
.coaches__wrapper {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
  padding-bottom: 88px;
  position: relative;
  box-sizing: border-box;

  @media (max-width: $vp-1199) {
    padding: 0 43px 83px;
  }

  @media (max-width: $vp-767) {
    padding: 0 7.3% 46px;
  }
}

.coaches__wrapper h2 {
  font-family: "BebasNeueBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  color: $sapphire;
  padding-left: 34px;
  padding-bottom: 20px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    padding-bottom: 24px;
    text-align: center;
    padding-left: 0;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
    padding-top: 36px;
    padding-bottom: 20px;
  }
}

.coaches__slider-container {
  position: relative;
  margin: 0 auto;

  @media (max-width: $vp-1199) {
    width: 88%;
    box-sizing: border-box;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.coaches__button {
  position: absolute;
  width: 48px;
  height: 60px;
  top: 149px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 10;

  @media (max-width: $vp-1199) {
    top: 41%;
    width: 31px;
  }
}

.coaches__button::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 19px;
  left: 6px;
  transform: rotate(46deg);
  border-left: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;

  @media (max-width: $vp-767) {
    width: 13px;
    height: 13px;
    top: 22px;
    left: 4px;
  }
}

.coaches__button:hover {
  transform: scale(1.2);
}

.coaches__button:focus {
  transform: scale(1.2);
}

.coaches__button--back {
  left: -2%;

  @media (max-width: $vp-1199) {
    left: -7%;
  }

  @media (max-width: $vp-767) {
    left: -3%;
  }
}

.coaches__button--forward {
  right: -2%;

  @media (max-width: $vp-1199) {
    right: -6.5%;
  }

  @media (max-width: $vp-767) {
    right: -3%;
  }
}

.coaches__button--forward::after {
  transform: rotate(-136deg);
  left: 22px;

  @media (max-width: $vp-767) {
    left: 12px;
  }
}
