
.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-top: 24px;
  margin-bottom: 4px;
  justify-content: end;

  @media (max-width: $vp-1199) {
    margin-top: 34px;
  }

  @media (max-width: $vp-767) {
    margin-top: 14px;
  }
}

.contacts__phone {
  margin-right: 2px;
  text-align: end;

  @media (max-width: $vp-1199) {
    margin-right: 0;
  }
}

.contacts__link {
  padding: 5px 0 4px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: $color-default-white;
  font-family: "BebasNeueBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.7px;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}

.contacts__link:hover {
  color: $sapphire;
}

.contacts__link:focus {
  color: $sapphire;
}

.contacts__link:active {
  transform: scale(1.2);
}
