.events__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 117px 20px 101px;

  @media (max-width: $vp-1199) {
    padding: 99px 45px 62px;
  }

  @media (max-width: $vp-767) {
    padding: 71px 15px 25px;
  }
}

.events__wrapper h2 {
  font-family: "BebasNeueBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  color: $sapphire;
  text-align: center;
  padding-bottom: 52px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 42px;
    padding-bottom: 42px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 43px;
  }
}

.events__container {
  display: grid;
  grid-template-columns: 48.3% 1fr;
  column-gap: 40px;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 31px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 29px;
  }
}

.events__content-wrapper {
  display: flex;

  @media (max-width: $vp-767) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
}

.events__info {
  background-color: $torch-red;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.events__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 280px;
  box-sizing: border-box;
  padding: 34px 35px 44px 45px;

  @media (max-width: $vp-1199) {
    width: 279px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 34px 45px 45px;
  }
}

.events__info-link {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 40%;

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.events__info-link::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 41px;
  width: 100%;
  height: 1px;
  background-color: $color-default-white;
  transform: translate(-50%, -50%);

  @media (max-width: $vp-767) {
    top: 16px;
    left: 50%;
    width: 81px;
  }
}

.events__info-link:hover {
  color: $sapphire;

  &::after {
    background-color: $sapphire;
  }
}

.events__info-link:focus {
  color: $sapphire;

  &::after {
    background-color: $sapphire;
  }
}


.events__info-link:active {
  transform: scale(1.2);
}

.events__item-container .events__info-link {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.05em;
  color: $sapphire;
  text-transform: uppercase;
  width: 14%;

  &::after {
    width: 68px;
    top: 16px;
    left: 35px;
    background-color: $sapphire;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $vp-1199) {
    width: 27%;
  }

  @media (max-width: $vp-767) {
    width: 100%;

    &::after {
      left: 50%;
      width: 70px;
    }
  }
}

.events__item-container .events__info-link:hover {
  color: $torch-red;

  &::after {
    background-color: $torch-red;
  }
}

.events__info-wrapper h3 {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  color: $color-default-white;
  margin: 0;
  padding-bottom: 188px;

  @media (max-width: $vp-767) {
    padding-bottom: 31px;
  }
}

.events__info-wrapper span {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 109.2px;
  color: $color-default-white;
  margin-top: -25px;

  @media (max-width: $vp-767) {
    height: 103px;
  }
}

.events__info-wrapper p {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 43.68px;
  color: $color-default-white;
  margin: 0;
}

.events__poster {
  @media (min-width: $vp-1200) {
    width: 62%;
    height: auto;
    background: url("../img/promo/events-desktop.png") no-repeat $sapphire;
    background-position: top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/events-desktop@2x.png") no-repeat $sapphire;
      background-position: top;
      background-size: cover;
    }
  }

  @media (max-width: $vp-1199) {
    background: url("../img/promo/events-tablet.png") no-repeat $sapphire;
    background-position: top;
    background-size: cover;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/events-tablet@2x.png") no-repeat $sapphire;
      background-position: top;
      background-size: cover;
    }
  }

  @media (max-width: $vp-767) {
    min-height: 300px;
    background: url("../img/promo/events-mobile.png") no-repeat $sapphire;
    background-position: top;
    background-size: cover;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/events-mobile@2x.png") no-repeat $sapphire;
      background-position: top;
      background-size: cover;
    }
  }
}

.events__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $vp-1199) {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 28px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    grid-template-columns: 100%;
  }
}

.events__item {
  border: 7px solid;
  border-image: $border-gradient;
  border-image-slice: 1;

  @media (max-width: $vp-1199) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.events__item:not(:last-child) {
  margin-bottom: 40px;

  @media (max-width: $vp-1199) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 31px;
  }
}

.events__item:nth-child(n+2) p {
  @media (max-width: $vp-1199) {
    padding-bottom: 66px;
  }

  @media (max-width: $vp-767) {
    padding: 0 27px 23px;
  }
}

// .events__item:nth-last-child(2n+1) {
//   margin-bottom: 0;
// }

.events__item-container {
  padding: 12px 28px 29px;

  @media (max-width: $vp-767) {
    padding: 23px 28px 39px;
  }
}

.events__item-container h3 {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 50px;
  color: $sapphire;
  margin: 0;
}

.events__item-container p {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: $sapphire;
  margin: 0;
  padding-bottom: 66px;

  @media (max-width: $vp-1199) {
    padding-bottom: 43px;
  }

  @media (max-width: $vp-767) {
    padding-bottom: 21px;
  }
}

.events__item-container br {
  display: none;

  @media (max-width: $vp-1199) {
    display: inline;
  }
}
