.footer {
  background-color: $black-russian;
}

.footer__container {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
  padding: 35px 13px 33px;
  justify-content: space-between;

  @media (max-width: $vp-1199) {
    padding: 33px 31px 34px;
  }

  @media (max-width: $vp-767) {
    padding: 30px 11px 44px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }
}

.footer__logo {
  display: flex;
}
