.header-social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 45px;
}

.header-social__item {
  padding: 8px 0;
}

.header-social__link {
  color: $color-default-white;
  text-decoration: none;
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  display: inline-block;
  vertical-align: middle;
}

.header-social__link:hover {
  color: $color-neon-blue;
}


.header-social__link:focus {
  color: $color-neon-blue;
}

.header-social__link:active {
  color: $ghost-white;
  transform: scale(1.7);
}
