
.logo__wrapper {
  margin-top: 30px;

  @media (max-width: $vp-1199) {
    margin-top: 41px;
  }

  @media (max-width: $vp-767) {
    margin-top: 21px;
  }
}

.logo__gym {
  display: none;
}

.logo__main {
  fill: $color-default-white;

  @media (max-width: $vp-1199) {
    width: 84px;
    height: 18px;
  }

  @media (max-width: $vp-767) {
    width: 65px;
    height: 15px;
  }
}

.logo--footer {
  font-size: 0;
}

.logo--footer .logo__wrapper {
  margin: 0;
  margin-left: 3px;

  @media (max-width: $vp-1199) {
    margin-left: 12px;
  }

  @media (max-width: $vp-767) {
    margin-left: 4px;
    padding-top: 6px;
  }
}

.logo--footer:hover .logo__main {
  fill: $color-neon-blue;
}

.logo--footer:focus .logo__main {
  fill: $color-neon-blue;
}

.logo--footer:active .logo__main {
  transform: scale(1.2);
}
