.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.main-nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto 0 33%;

  @media (max-width: $vp-1199) {
    margin: 0 auto 0 13.2%;
  }

  @media (max-width: $vp-767) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 21px;
    margin: 0;
    column-gap: 93px;
  }
}

.main-nav__item {
  min-width: 67px;
}

.main-nav__link {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
  text-decoration: none;
  padding-right: 40px;

  @media (max-width: $vp-1199) {

    padding-right: 30px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
  }
}

.main-nav__item--uslu {
  @media (max-width: $vp-767) {
    // order: 1;
    // padding-top: 20px;
  }
}

.main-nav__item--abo {
  @media (max-width: $vp-767) {
    order: 4;
  }
}

.main-nav__item--act {
  @media (max-width: $vp-767) {
    // order: 3;
    order: 4;
  }
}

.main-nav__item--coach {
  @media (max-width: $vp-767) {
    // order: 4;
    order: 3;
  }
}

.main-nav__item--list {
  @media (max-width: $vp-767) {
    // order: 5;
    grid-row: 3/4;
    grid-column: 2/2;
  }
}

.main-nav__item:nth-child(5) .main-nav__link {
  @media (max-width: $vp-1199) {
    padding-right: 0;
  }
}
