.main-nav {
  max-width: 529px;

  @media (max-width: $vp-1199) {
    max-width: 450px;
  }

  @media (max-width: $vp-767) {
    max-width: 290px;
    margin-top: -21px;
  }
}

.main-nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 19px;
  padding-top: 10px;

  @media (max-width: $vp-1199) {
    margin: 0 auto;
    padding: 15px 0 0 6px;
  }

  @media (max-width: $vp-767) {
    display: block;
    column-count: 2;
    column-gap: 33px;
    padding: 3px 0 0 4px;
  }
}

.main-nav__item {
  margin-right: 40px;

  @media (max-width: $vp-1199) {
    margin-right: 21px;
    margin-left: 9px;
  }

  @media (max-width: $vp-767) {
    margin: 0;
    padding-bottom: 20px;
  }
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item--first {
  @media (max-width: $vp-767) {
    margin: 41px 0 0 0;
  }
}

.main-nav__link {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 19px;
  }
}

.main-nav__link:hover {
  color: $color-neon-blue;
}

.main-nav__link:focus {
  color: $color-neon-blue;
}

.main-nav__link:active {
  color: $chamray;
}
