.page-header {
  position: relative;
  z-index: 10;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $vp-1199) {
    padding: 0 43px;
  }

  @media (max-width: $vp-767) {
    padding: 0 15px;
  }
}

.page-header__logo {
  font-size: 0;
}
