
.promotion__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 121px 20px 118px;

  @media (max-width: $vp-1199) {
    padding: 101px 45px 99px;
  }

  @media (max-width: $vp-767) {
    padding: 69px 15px 33px;
  }
}

.promotion__container {
  display: flex;
  flex-wrap: wrap;
}

.promotion__description-container {
  background-color: $torch-red;
  width: 43%;

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.promotion__info {
  padding: 83px 77px 84px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (max-width: $vp-1199) {
    padding: 49px 45px 51px;
  }

  @media (max-width: $vp-767) {
    padding: 49px 41px 51px;
    width: 100%;
    flex-direction: column;
  }
}

.promotion__info p {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0;
  padding-bottom: 44px;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 30px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
    padding-right: 17px;
  }
}

.promotion__info-content {
  display: flex;
  padding-bottom: 10px;

  @media (max-width: $vp-1199) {
    padding-bottom: 0;
  }

  @media (max-width: $vp-767) {
    width: 207px;
    margin: 0 auto;
  }
}

.promotion__info-content h3 {
  font-family: "BebasNeueBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  margin: 0;
  width: 253px;

  @media (max-width: $vp-1199) {
    font-size: 52px;
    line-height: 52px;
    width: 111px;
    padding-right: 35px;
    padding-left: 0;
  }

  @media (max-width: $vp-767) {
    padding-left: 2px;
  }
}

.promotion__dates {
  text-align: left;

  @media (max-width: $vp-1199) {
    padding-right: 35px;
    margin-top: -3px;
  }
}

.promotion__day {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-areas:
    "date date"
    "number month";
  align-items: center;
  padding-bottom: 9px;
  box-sizing: border-box;
  margin-top: -3px;

  @media (max-width: $vp-1199) {
    align-items: inherit;
    padding-bottom: 0;
    padding-top: 3px;
  }
}

.promotion__day b {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0;
  grid-area: date;
  min-width: 64px;
  border-bottom: 1px solid $color-default-white;
  padding-bottom: 5px;

  @media (max-width: $vp-1199) {
    font-size: 12px;
    line-height: 18px;
    min-width: 42px;
    padding-bottom: 2px;
  }
}

.promotion__day span:nth-child(3n-1) {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-default-white;
  grid-area: number;
  margin-top: -6px;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 36px;
    margin-top: -3px;
  }
}

.promotion__day span {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  grid-area: month;
  margin: -24px 5px 0 0;

  @media (max-width: $vp-1199) {
    font-size: 10px;
    line-height: 15px;
    margin: 1px 0 0 1px;
  }
}

.promotion__day span:nth-child(3n+1) {
  margin: 13px 0 0 3px;

  @media (max-width: $vp-1199) {
    margin: 13px 0 0 3px;
  }
}

.promotion__time {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.promotion__time b {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  margin: 0;
  min-width: 88px;
  border-bottom: 1px solid $color-default-white;
  padding-bottom: 4px;


  @media (max-width: $vp-1199) {
    min-width: 56px;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 1px;
  }
}

.promotion__time span {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-default-white;
  margin: 0;
  margin-top: -6px;

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 36px;
    padding-top: 2px;
  }
}

.promotion__link {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  line-height: 14px;
  padding: 25px 50px;
  width: 69%;
  border: 4px solid $color-default-white;
  text-align: center;
  letter-spacing: 0.05em;

  @media (max-width: $vp-1199) {
    width: 52%;
    font-size: 10px;
    line-height: 12px;
    padding: 12px 47px;
    border: 2px solid $color-default-white;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
  }
}

.promotion__link:hover {
  background-color: $color-default-white;
  color: $torch-red;
}

.promotion__link:focus {
  background-color: $color-default-white;
  color: $torch-red;
}

.promotion__link:active {
  transform: scale(1.2);
}

.promotion__poster {
  @media (min-width: $vp-1200) {
    width: 57%;
    height: auto;
    background: url("../img/promo/athlet-desktop.png") no-repeat $sapphire center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/athlet-desktop@2x.png") no-repeat $sapphire center;
      background-size: cover;
    }
  }

  @media (max-width: $vp-1199) {
    font-size: 24px;
    line-height: 36px;
    background: url("../img/promo/athlet-tablet.png") no-repeat $sapphire center;
    background-size: cover;
    width: 57%;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/athlet-tablet@2x.png") no-repeat $sapphire center;
      background-size: cover;
    }
  }

  @media (max-width: $vp-767) {
    background: url("../img/promo/athlet-mobile.png") no-repeat $sapphire center;
    background-size: cover;
    width: 100%;
    height: 292px;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo/athlet-mobile@2x.png") no-repeat $sapphire center;
      background-size: cover;
    }
  }
}
