.slider {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.slider__item {
  display: grid;
  width: auto;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  box-sizing: border-box;

  @media (max-width: $vp-1199) {
    padding: 2px;
  }

  @media (max-width: $vp-767) {
    padding: 6px;
  }
}

.slider__item h3 {
  font-family: "RobotoCondensedBold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: $color-default-white;
}

.slider__header {
  position: relative;
}

.slider__header h3 {
  position: absolute;
  bottom: 7px;
  left: 50%;
  text-align: center;
  min-width: 250px;
  transform: translate(-50%, -50%);
  color: $color-default-white;
}

.slider__image {
  grid-column: 1/2;
  grid-row: 1/2;
}


.slider__image img {
  max-width: 100%;
  height: auto;
  display: block;

  @media (max-width: $vp-1199) {
    width: 100%;
  }
}

.slider__info {
  grid-column: 1/2;
  grid-row: 1/2;
}

.slider__info-wrapper {
  background-color: $stuff-cover;
  text-align: center;
  height: 100%;
  opacity: 0;
}

.slider__item:hover .slider__info-wrapper {
  opacity: 1;
}

.slider__item:hover .slider__header {
  opacity: 0;
}
