.social-networks {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-1199) {
    max-width: 112px;
  }
}

.social-networks__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 111px;


  @media (max-width: $vp-1199) {
    max-width: 128px;
    padding-top: 5px;
  }

  @media (max-width: $vp-767) {
    padding-top: 7px;
  }
}

.social-networks__link {
  display: flex;
  justify-content: center;
  width: 37px;
  height: 40px;
  align-items: center;

  @media (max-width: $vp-767) {
    width: 35px;
  }
}

.social-networks__link:hover {
  transform: scale(1.2);
}

.social-networks__link:focus {
  transform: scale(1.2);
}

.social-networks__link:active {
  transform: scale(0.7);
}
