.workcard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 44px;
}

.workcard h3 {
  position: relative;
  padding-top: 53px;
  height: 23px;
}

.workcard span {
  font-family: "RobotoCondensedRegular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $spindle;
}

.workcard__list {
  margin: 0;
  list-style-type: disc;
  color: $color-default-white;
  text-align: left;
  padding: 33px 0 0 27.4px;
}

.workcard__list-item {
  padding-bottom: 13px;
}

.workcard__list span {
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
}
