@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular.woff2") format("woff2"),
    url("../fonts/RobotoCondensedRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "RobotoCondensedLight";
  src: url("../fonts/RobotoCondensedLight.woff2") format("woff2"),
    url("../fonts/RobotoCondensedLight.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
